<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mappers.XMLBoardMapper">

    <select id="findById" parameterType="int" resultType="board" timeout="10000">
        SELECT ID
             , CONTENT
          FROM BOARD
         WHERE ID = #{id}
    </select>

    <insert id="insertBoard">
        INSERT INTO BOARD (
            CONTENT
        ) VALUES (
            #{content}
        )
    </insert>

    <update id="updateBoard" parameterType="board">
        UPDATE BOARD
           SET CONTENT = #{content}
         WHERE ID = #{id}
    </update>

</mapper>